<%= error_messages_for :task %>
<% form_for @task do |f| %>
  <%= f.hidden_field :project_id %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.check_box :complete %>
    <%= f.label :complete %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
