<h1>Product</h1>

<p>
  <b>Name</b><br>
  <%= @product.name %>
</p>

<p>
  <b>Price</b><br>
  <%= @product.price %>
</p>

<div class="form-actions">
  <%= link_to 'Back', products_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_product_path(@product), :class => 'btn' %>
  <%= link_to 'Delete', product_path(@product), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
