<!DOCTYPE html>
<html>
<head>
  <title>To Do List</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= params[:controller].parameterize %>_controller">

<div id="header">
  <h1>To Do List</h1>
</div>
<div id="container">
  <%= yield %>
</div>

</body>
</html>
