<% form_for @product do |f| %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :released_at %><br />
    <%= f.datetime_select :released_at %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
