<% title "Products" %>

<% for product in @products %>
  <div class="product">
    <h3>
      <%= link_to h(product.name), (product.custom_url.blank? ? product : product.custom_url) %>
      <% if product.price %>
        <%= number_to_currency(product.price) %>
      <% else %>
        No Price
      <% end %>
    </h3>
    <div class="actions">
      <%= link_to "Edit", edit_product_path(product) %> |
      <%= link_to "Destroy", product, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
<% end %>

<p><%= link_to "New Product", new_product_path %></p>
