<% title "Authors" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for author in @authors %>
    <tr>
      <td><%= author.name %></td>
      <td><%= link_to "Show", author %></td>
      <td><%= link_to "Edit", edit_author_path(author) %></td>
      <td><%= link_to "Destroy", author, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Author", new_author_path %></p>
