<% title "Login" %>

<% form_for @user_session do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Submit" %></p>
  
  <h2>Or use OpenID</h2>
  <p>
    <%= f.label :openid_identifier, "OpenID URL" %><br />
    <%= f.text_field :openid_identifier %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
