<% form_for @product do |f| %>
  <p>
    <%= f.label :category_id %><br />
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.check_box :discontinued %>
    <%= f.label :discontinued %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
