<% title "Products" %>

<table class="pretty">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "price" %></th>
    <th><%= sortable "released_at", "Released" %></th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%= product.name %></td>
      <td class="price"><%= number_to_currency(product.price) %></td>
      <td><%= product.released_at.strftime("%B %e, %Y") %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Product", new_product_path %></p>
