<p>
  <b>Name:</b>
  <%= @user.name %>
</p>
<p>
  <%= image_tag @user.avatar_url(:thumb) if @user.avatar? %>
</p>
<p>
  <%= link_to "Edit", edit_user_path(@user) %> |
  <%= link_to "Destroy", @user, method: :delete, confirm: "Are you sure?" %> |
  <%= link_to "View All", users_path %>
</p>
