<h1><%= @product.name %></h1>

<p>
  <b>Price:</b>
  <%= number_to_currency @product.price %>
</p>

<p>
  <b>Release Date:</b>
  <%= @product.released_at.strftime("%B %e, %Y") %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category.name %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Destroy', @product, method: :delete, confirm: "Are you sure?" %> |
<%= link_to 'List Products', products_path %>
