<% title "Cart" %>

<table id="cart_items">
  <tr>
    <th>Product</th>
    <th>Qty</th>
    <th class="price">Unit Price</th>
    <th class="price">Full Price</th>
  </tr>
  <% for cart_item in @cart.cart_items %>
    <tr class="<%= cycle :odd, :even %>">
      <td><%=h cart_item.product.name %></td>
      <td class="qty"><%= cart_item.quantity %></td>
      <td class="price"><%= number_to_currency(cart_item.unit_price) %></td>
      <td class="price"><%= number_to_currency(cart_item.full_price) %></td>
    </tr>
  <% end %>
  <tr>
    <td class="total price" colspan="4">
      Total: <%= number_to_currency @cart.total_price %>
    </td>
  </tr>
</table>

<p>
  <% if session[:last_product_page] %>
    <%= link_to "Continue Shopping", session[:last_product_page] %> |
  <% end %>
  <%= link_to "Checkout" %>
</p>