<h1>Events</h1>

<% @events.each do |event| %>
  <div class="event">
    <h3><%= event.name %></h3>
    <div class="date">From <%= event.starts_at.strftime("%B %d, %Y") %> to <%= event.ends_at.strftime("%B %d, %Y") %></div>
    <div><%= event.description %></div>
  </div>
<% end %>

<p><%= link_to "New Event", new_event_path %></p>
