<h1>To Do List</h1>

<% if current_user %>
  <%= form_tag tasks_path do %>
    <%= text_field_tag :name %>
    <%= submit_tag "Add" %>
  <% end %>

  <ul id="tasks">
  <% @tasks.each do |task| %>
    <li><%= task["name"] %></li>
  <% end %>
  </ul>

  <p id="logged_in">
    Logged in as <strong><%= current_user.name %></strong>.
    <%= link_to "Sign Out", signout_path %>
  </p>
<% else %>
  <p><strong>Currently not signed in.</strong></p>
  <p>
    <%= link_to "Sign in through To Do List", "/auth/todo" %>
  </p>
<% end %>
