<h1>Welcome</h1>

<% if current_user.nil? %>
  <p>Currently not signed in. <%= link_to "Sign Up", new_user_path %></p>
<% else %>
  <p>Currently signed in as:</p>
  <p><b>Email:</b> <%= current_user.email %></p>
  <p><b>Name:</b> <%= current_user.name %></p>
  <%= simple_format current_user.bio %>
  <p><%= link_to "Sign Up Again", new_user_path %></p>
<% end %>
