<% title "Recent Products" %>

<% for product in @products %>
  <div class="product">
    <h3>
      <%= link_to h(product.name), product %>
      <%= number_to_currency(product.price) %>
    </h3>
    <div class="details">
      Released: <%= product.created_at.to_date.to_s(:long) %><br />
      Category: <%=h product.category.name %>
    </div>
    <div class="actions">
      <%= link_to "Edit", edit_product_path(product) %> |
      <%= link_to "Destroy", product, :confirm => 'Are you sure?', :method => :delete %>
    </div>
  </div>
<% end %>

<p><%= link_to "New Product", new_product_path %></p>
