<% title "Comment" %>

<p>
  <strong>Name:</strong>
  <%= @comment.name %>
</p>
<p>
  <strong>URL:</strong>
  <%= @comment.url %>
</p>
<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <%= link_to "Edit", edit_comment_path(@comment) %> |
  <%= link_to "Destroy", @comment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", comments_path %>
</p>
