<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <div class="product">
      <h2><%= link_to product.name, product %></h2>
      <div class="details">
        <%= number_to_currency(product.price) %> |
        <%= link_to "Edit", edit_product_path(product) %>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @products, previous_label: h("< Previous"), next_label: h("Next >") %>

<p><%= link_to "New Product", new_product_path %></p>
