<h1>Listing categories</h1>

<table class="pretty">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Show', [:admin, category] %></td>
    <td><%= link_to 'Edit', edit_admin_category_path(category) %></td>
    <td><%= link_to 'Destroy', [:admin, category], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_admin_category_path %>
